<div class="modal-content">
  <h4>Notes for: </h4><h5>{{title}}</h5>
  <p>A bunch of text</p>
  <p>{{note.title}}</p>
  <p>{{note.body}}</p>
</div>
<div class="modal-footer">
  <button class="modal-close waves-effect waves-green btn-flat">Save</button>
</div>